body {
  background-color: #212121;
  margin: 0;
  font-size: 20px;
}

img {
  max-width: 100%;
}

h1 {
  color: #6b4e4e;
}

h2,
h3,
h4,
h5,
h6 {
  color: #3d342e;
}

code {
  font-family: "Cascadia Mono", "Consolas", "Monaco", monospace;
  color: rgb(105, 72, 0);
}

a {
  color: rgb(132, 99, 28);
}

a:visited {
  color: rgb(71, 49, 0);
}

a:hover,
a:focus {
  color: rgb(82, 60, 12);
}
